/////////////////////
// SIDEBAR GENERAL //
/////////////////////

$sidebar-font-size:                 15px !default;
$primary:                           #0275d8 !default;

// general spacing
$sidebar-spacing:                   $sidebar-font-size * 1.25 !default;
$sidebar-spacing-x:                 $sidebar-spacing !default;
$sidebar-spacing-y:                 $sidebar-spacing !default;

// brand
$sidebar-brand-size:                1.3rem !default;
$sidebar-brand-weight:              500 !default;
$sidebar-brand-height:              56px !default;

// Heading
$sidebar-heading-font-size:         .9rem !default;
$sidebar-heading-font-weight:       500 !default;
$sidebar-heading-font-family:       inherit !default;
$sidebar-heading-text-transform:    uppercase !default;
$sidebar-heading-letter-spacing:    normal !default;
$sidebar-heading-line-height:       normal !default;

// menu spacing
$sm-spacing-x:                      0 !default;
$sm-spacing-y:                      $sidebar-spacing-y !default;

// horizontal spacing between elements such as 
// .sidebar-menu-badge and .sidebar-menu-icon 
// within a menu button
$sm-inner-spacing-x:                5px !default;

// menu buttons
$sm-button-font-size:               $sidebar-font-size !default;
$sm-button-font-weight:             400 !default;
$sm-button-height:                  42px !default;
$sm-button-spacing-x:               $sidebar-spacing-x !default;

// menu condensed buttons
$sm-condensed-button-height:        $sm-button-height * 0.75 !default;

// menu icons
$sm-icon-font-size:                 24px !default;
$sm-icon-spacing-x:                 $sm-inner-spacing-x !default;

// menu icons using .sm-icons-block
$sm-iconsblock-spacing:             $sm-icon-font-size * 0.25 !default;
$sm-iconsblock-width:               $sm-icon-font-size + $sm-iconsblock-spacing !default;

// active buttons
$sm-active-button-font-weight:      $sm-button-font-weight !default;

// submenu buttons
$ssm-button-height:                 $sm-button-height !default;
$ssm-button-font-size:              $sm-button-font-size !default;

// submenu condensed buttons
$ssm-condensed-button-height:       $ssm-button-height * 0.75 !default;

// submenu icons
$ssm-icon-font-size:                $sm-icon-font-size !default;

// submenu icons using .sm-icons-block
$ssm-iconsblock-spacing:            $ssm-icon-font-size * 0.25 !default;
$ssm-iconsblock-width:              $ssm-icon-font-size + $ssm-iconsblock-spacing !default;

// menu toggle button indicator
$sm-toggle-font-size:               $sm-button-font-size !default;

// See Material Icons:
// - https://design.google.com/icons/
// - https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
$sm-toggle-family:                  "Material Icons" !default;
$sm-toggle-icon:                    "\e5db" !default;
$sm-open-toggle-icon:               "\e5d8" !default;

// label
$sm-badge-spacing-x:                .3rem !default;
$sm-badge-spacing-y:                .2rem !default;
$sm-badge-font-size:                .75rem !default;

//////////////////
// SIDEBAR DARK //
//////////////////

@import './variables/sidebar-dark';

///////////////////
// SIDEBAR LIGHT //
///////////////////

@import './variables/sidebar-light';